.env
node_modules
package-lock.json
yarn.lock
.idea/
coverage
.coverage-tmp
benchmarks

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace

# Cloudflare Workers
wrangler.toml