name: Theme Pull Requests Closer

on:
  - pull_request_target

permissions:
  actions: read
  checks: read
  contents: read
  deployments: read
  issues: read
  discussions: read
  packages: read
  pages: read
  pull-requests: write
  repository-projects: read
  security-events: read
  statuses: read

jobs:
  close-prs:
    if: github.repository == 'dytsou/github-readme-stats'
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Set up Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Close Pull Requests
        run: |
          comment_message="We are currently pausing addition of new themes. If this theme is exclusively for your personal use, then instead of adding it to our theme collection, you can use card [customization options](https://github.com/dytsou/github-readme-stats?tab=readme-ov-file#customization)."

          for pr_number in $(gh pr list -l "themes" -q is:open --json number -q ".[].number"); do
            gh pr close $pr_number -c "$comment_message"
          done
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
